@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.container-matriz {
  display:flex;
  flex-wrap: wrap;
  width:100%;
  height: 100%;
}

.map {
  width: 1080;
  height: 1080;
}

.blocks-globals {
  width: 50%;
  height: 34%;
  border: 1px solid white;
  display: flex;
  /* flex-wrap: wrap; */
  /* background-color: #3498db; /* Cor de fundo */
  /* clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%); */
}

.area-blocks {
  border: 1px solid red;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  /* background-color: red; Cor de fundo */
  /* clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%); */
}

.space-area {
  border: 1px solid green;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(28, 211, 28);
  /* clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%); */
}

.item-space {
  width: 41px;
  height: 41px;
  border: 0.05rem dashed lightslategray;
  display: flex;
  align-items: center;
  justify-content: center;

}

.florest{
  color: rgb(0, 82, 0);
}

.barbarian {
  color: red
}

.village {
  color: blue;
}
